@charset "UTF-8";

@font-face {
    font-family:'pokemon';
    src: url('../font/Pokemon\ Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}       

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: hsla(261, 26%, 49%, 0.600);
    background-image: url(../imagens/pokebola.vetor33.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    background-color: #BF3029;
    color: aliceblue;
    font-family: 'pokemon', times, sans-serif;
}

header a{
    color: #AB9DC4;
    text-decoration: none;
    font-weight: bolder;
}

.content {
    width: 100vw;
    border-radius: 10px 10px 0 0;
}

.content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

@media screen and (min-width: 992px) {
   .content {
    max-width: 992px;
    margin: auto;
    height: auto;
   }
  }






