@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsla(0, 100%, 50%, 0.400);
    /* background-image: url(pokeball33.png);
    background-position: right;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;  */
}

header {
    background-color: rgb(207, 0, 0);
    width: auto;
    padding: .5rem;
    color: aliceblue;
}

header > h1 {
    padding: 30px;
    font-size: 4vw;
    text-align: center;
}

.content {
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px) {
   .content {
    max-width: 992px;
    margin: auto;
    height: auto;
   }
  }





