@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsla(261, 26%, 49%, 0.600);
}

header {
    background-color: #BF3029;
    width: auto;
    padding: .5rem;
    color: aliceblue;
}

header > h1 {
    font-size: 6vw;
    text-align: center;
}

header > p {
    text-align: center;
    font-size: 1.5vw;
}

header a{
    color: #AB9DC4;
    text-decoration: none;
    font-weight: normal;
}

.content {
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px) {
   .content {
    max-width: 992px;
    margin: auto;
    height: auto;
   }
  }






