@charset "UTF-8";


.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
}

.pokemon {
    
    margin: .5rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px 0px rgba(171, 157, 196, 0.600);     
}

.pokemon .name {
    color: aliceblue;
    font-weight: 500;
    padding-bottom: .5rem;
    text-align: left;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.pokemon .number {
    color: rgba(240, 248, 255, 0.400);
    text-align: right;
    font-size: .900rem;
    /* padding-bottom: .25rem; */
}

.pokemon .detail img {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    height: 150px;
    margin-top: 20px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .5rem 1rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: aliceblue;
    background-color:#BF3029;
    ;
    border: none;
    border-radius: .5rem;
}

.pokemon .detail {
    display: contents;
    align-items: center;
    justify-content:flex-end;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    
    color: #49120f;
    padding: .3rem .6rem;
    font-size: .8rem;
    margin: .3rem 0;
    border-radius: .5rem;
    filter: brightness(1.4);
    text-align: center;
}

@media screen and (min-width: 380px) {
    .pokemons {
    grid-template-columns: 1fr 1fr;
    margin: 0rem auto;
    background-color: rgba(255, 255, 255, 0.600);
    height: auto;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
        }
}

@media screen and (min-width: 992px) {
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   }



.grass {
    background-color: #77c850;
    opacity: 90%;
}
.normal {
    background-color: #a6a877;
    opacity: 90%;

}
.fire {
    background-color: #ee7f30;
    opacity: 90%;

}
.water {
    background-color: #678fee;
    opacity: 90%;

}
.electric {
    background-color: #f7cf2e;
    opacity: 90%;

}
.ice {
    background-color: #98d5d7;
    opacity: 90%;

}
.ground {
    background-color: #dfbf69;
    opacity: 90%;

}
.flying {
    background-color: #a98ff0;
    opacity: 90%;

}
.poison {
    background-color: #a040a0;
    opacity: 90%;

}
.fighting {
    background-color: #bf3029;
    opacity: 90%;

}
.psychic {
    background-color: #f65687;
    opacity: 90%;

}
.dark {
    background-color: #725847;
    opacity: 90%;

}
.rock {
    background-color: #b8a137;
    opacity: 90%;

}
.bug {
    background-color: #a8b720;
    opacity: 90%;

}
.ghost {
    background-color: #6e5896;
    opacity: 90%;

}
.steel {
    background-color: #b9b7cf;
    opacity: 90%;

}
.dragon {
    background-color: #6f38f6;
    opacity: 90%;

}
.fairy {
    background-color :#f9aec7;
    opacity: 90%;

}